In [2]:
import pandas as pd

In [3]:
df_steam_games = pd.read_parquet(r'C:\Users\Moises\Desktop\Projecto invidual 1\archivos limpios\games.parquet')
df_steam_games['id'] = df_steam_games['id'].astype(int)
df_steam_games.head(2)

       genres                title release_date  price      id  developer
88310  Action  Lost Summoner Kitty         2018   4.99  761140  Kotoshiro
88310  Casual  Lost Summoner Kitty         2018   4.99  761140  Kotoshiro

In [4]:
df_review = pd.read_parquet(r'C:\Users\Moises\Desktop\Projecto invidual 1\archivos limpios\reviews.parquet')
df_review['item_id'] = df_review['item_id'].astype(int)
df_review.sample(4)

                 user_id  item_id  recommend  sentiment_analysis
762         digfernandes   214250      False                   0
18553  76561197988062821   113200       True                   2
1399    PraetorianCohort   227940      False                   1
1623          moomooandu   203140       True                   1

In [5]:
df_items = pd.read_parquet(r'C:\Users\Moises\Desktop\Projecto invidual 1\archivos limpios\items.parquet')
df_items.head(3)

             user_id  items_count  playtime_forever  playtime_2weeks
0  76561197970982479          277               6.0              0.0
1  76561197970982479          277               0.0              0.0
2  76561197970982479          277               7.0              0.0

In [6]:
df_1= pd.merge(df_review, df_steam_games, left_on='item_id', right_on='id')

In [7]:
df_1.drop(columns='id', inplace=True)

In [8]:
df = pd.merge(df_1, df_items, on = 'user_id' )

In [9]:
df.shape

(8443039, 12)

In [10]:
df.duplicated(subset=df.columns).sum()

150016

In [11]:
df.drop_duplicates(keep= 'last', inplace=True)

In [12]:
df.dropna(subset= ['playtime_forever'], inplace= True)
df.shape

(8279987, 12)

In [13]:
df.to_parquet(r'C:\Users\Moises\Desktop\Projecto invidual 1\archivos limpios\data_final.parquet')

In [14]:
df_criterio_3 = df[['user_id', 'playtime_forever', 'genres', 'release_date']]
df_criterio_3 = df_criterio_3.sample(500000, random_state=42)
df_criterio_3.to_parquet(r"C:\Users\Moises\Desktop\Projecto invidual 1\archivos limpios\criterio3.parquet",compression="gzip")